<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magento" translate="label" sortOrder="10">
            <label>Magento</label>
        </tab>
        <section id="setting" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>magento-setting</class>
            <label>Setting</label>
            <tab>magento</tab>
            <resource>Magento_HelloWorld::configuration</resource>
            <group id="test_backend"
                   translate="label"
                   type="text"
                   sortOrder="1"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Backend model example</label>
                <field id="custom_backend_model"
                       translate="label"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Backend model example</label>
                    <backend_model>Magento\HelloWorld\Model\Config\Backend\Validate</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
